
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href=/de.elinja.joemat.sandbox.enroute.upper/favicon.ico">

<title></title>

<link rel="stylesheet" type="text/css"
	href="/osgi.enroute.webresource/${bsn}/${Bundle-Version}/*.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body ng-app="de.elinja.joemat.sandbox.enroute.upper">

	<div class="container">
		
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li ng-class="{active: page() == '/'}"><a href="#/">Home</a></li>
				<li ng-class="{active: page() == '/about'}"><a href="#/about">About</a></li>
			</ul>
			<h3 class="text-muted">Upper</h3>
			<div ng-repeat="alert in alerts" class="alert alert-{{alert.type || 'alert'}} alert-dismissible">
				{{alert.msg}}
				<button type="button" ng-click='closeAlert($index)' class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
		</div>
  		
  		<div ng-view>
  		</div>  	

		<div class="footer">
			<p>&copy; ${def;Bundle-Vendor;Company} ${tstamp;YYYY}</p>
		</div>

	</div>

	<script src="/osgi.enroute.webresource/${bsn}/${Bundle-Version}/*.js"></script>

</body>
</html>
